D:\SiFli\SiFli-SDK\v2.4.6\Kconfig.v2
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\Kconfig.v2
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\Kconfig_drv
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\Kconfig_lcd
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\Kconfig_lcd_fpga
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\Kconfig_soc
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\sf32lb52-nano_base\Kconfig.board
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\sf32lb52-nano_n16r16\Kconfig.board
D:\SiFli\SiFli-SDK\v2.4.6\customer\boards\sf32lb52-nano_n16r16\hcpu\Kconfig.board
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\audio\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\bluetooth\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\buzzer\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\charger\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\encoder\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\gps\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\motor\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\pa\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\pmic_controller\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\rgb\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\sensor\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\customer\peripherals\vibrator\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\CMSIS\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\CmBacktrace-v1.3.0\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\FlashDB\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\SEGGER_SystemView-master\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\WebRTC_audio_processing\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\cJSON-1.7.17\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\coremark\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\easytlv\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\faad2\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\ffmpeg\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\freetype\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\fsck\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\jpeg_codec\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\libhelix-mp3\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\lvgl_v8\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\lvgl_v8\Kconfig_v8
D:\SiFli\SiFli-SDK\v2.4.6\external\lvgl_v9\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\lz4\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\mbedtls\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\mbedtls_228\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\nanopb\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\opus-1.4\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\quickjs\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\rlottie\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\rpmsg-lite\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\sensor-lib\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\state_machine-latest\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\tinymp3\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\vglite\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\external\webclient\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\audio\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\Kconfig.hw
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\Kconfig.adv
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\Kconfig.iso
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\Kconfig.zbt
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\common\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\host\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\lib\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\mesh\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\bluetooth\zephyr_bt\settings\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\core_dump\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\file_logger\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\lvgl\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\metrics_collector\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\middleware\profiler\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\iot\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\iot\netutils\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\misc\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\misc\samples\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\cplusplus\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\dfs\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\drivers\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\finsh\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\libc\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\net\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\net\at\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\net\lwip\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\net\netdev\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\net\sal\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\components\utilities\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\libcpu\Kconfig
D:\SiFli\SiFli-SDK\v2.4.6\rtos\rtthread\src\Kconfig
E:\bian_cheng\dan_pian_ji\SIFLI\CX\ESGUI\project\Kconfig.proj
E:\bian_cheng\dan_pian_ji\SIFLI\CX\ESGUI\project\build_sf32lb52-nano_n16r16_hcpu\Kconfig
